<h1>
  Short URLS!!
</h1>

<div>
  You are logged in as <%= username %>
</div>

<form method="POST" action="/login">
  <label for="username">Name</label>
  <input id="username" type="text" name="username" placeholder="User Name" style="width: 300px">
  <input type="submit" value="Submit user name">
</form>