<h1>
  Short URLS!!
</h1>

<nav>
  <ul style="display: flex; width: 100%; justify-content: center; list-style: none; padding: 0" >
    <li style ="margin-right: 1rem"><a href="/login">Login Now</a></li>
    <li style ="margin-right: 1rem"><a href="/register">Register</a></li>
    <li style ="margin-right: 1rem"><a href="/urls">View urls</a></li>
    <li style ="margin-right: 1rem"><a href="/urls/new">Add url</a></li>
  </ul>
</nav>

<% if (!id) {%>
  <a href="/login">login now!</a>
<%} else {%>
<div>
  You are logged in as <%= email %>
  <form method="POST" action="/logout">
    <input type="submit" value="logout">
  </form>
</div>
<% };%>


