<h1>
  Short URLS!!
</h1>

<form method="POST" action="/login">
  <input id="longURL" type="text" name="username" placeholder="User Name" style="width: 300px">
  <input type="submit" value="Submit user name">
</form>