<h1>
  Short URLS!!
</h1>

<form method="POST" action="/login">
  <label for="userName">Name</label>
  <input id="userName" type="text" name="userName" placeholder="User Name" style="width: 300px">
  <input type="submit" value="Submit user name">
</form>