<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include partials/_header %>
    </header>
    <ul>
      <% for (var url in urls) { %>
        <li><a href="/u/<%=url %>"><%= url %></a>: <%=urls[url] %></li>
      <% } %>
    </ul>
</body>
</html>