<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include partials/_header %>
    </header>
    <div>
        <a href="/u/<%= shortURL %>"><%= shortURL %></a>: <%= urls[shortURL] %>
    </div>
</body>
</html>